<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">心理专家维护</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-heading"></div>
      <form class="query-group form-inline clearfix">
        <div class="form-group">
          <label>专家名称：</label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="queryFields.name" placeholder="专家名称">
          </div>
        </div>

        <button type="button" class="btn w-xs btn-info" ng-click="submitQuery($event)">查询</button>
        <div class="pull-right">
          <button type="button" class="btn btn-info" ng-click="add()"><i class="fa fa-plus"></i> 新增</button>
        </div>
      </form>
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th style="width:20%;">专家名称</th>
          <th>简介</th>
          <th style="width:20%;">标签</th>
          <th style="width: 150px;">显示顺序</th>
          <th style="width:20%;">操作</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-if="!dataList">
          <td colspan="12" class="prompt text-center">
            <div class="alert alert-warning" role="alert">抱歉，暂时未有数据...<a href="javascript:;" ng-click="add()">新增测试任务</a></div>
          </td>
        </tr>
        <tr ng-repeat="item in dataList">
          <td>{{item.Name}}</td>
          <td>{{item.Instro}}</td>
          <td>{{item.Label}}</td>
          <td>{{item.Sort}}</td>
          <td>
            <a href="javascript:;" class="btn btn-xs btn-info" ng-click="add(item.ID)" title="编辑"><i class="fa fa-edit"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-info" ng-click="sort(item.ID ,item.Sort)" title="设置排序值"><i class="fa fa-cog"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-danger" ng-click="del(item)" title="删除"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer pagination-bar" ng-hide="!pagination.totalItems">
        <span>页码: {{pagination.currentPage}} / {{pagination.numPages}}</span>
        <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                    max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                    class="pagination-sm pull-right" boundary-links="true" rotate="false"
                    num-pages="pagination.numPages" previous-text="{{pagination.previousText}}"
                    next-text="{{pagination.nextText}}" first-text="{{pagination.firstText}}"
                    last-text="{{pagination.lastText}}" ng-change="pageQuery()"></pagination>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="settingSort.html">
  <div class="modal-header">
    <h3 class="modal-title">设置排序值</h3>
  </div>
  <div class="modal-body form-validation factor-add-definition">
    <div class="form-group factor-rule">
      <label>排序值：</label>
      <input type="text" class="form-control" ng-model="setSort" ng-pattern="/^\d*$/" placeholder="排序值" required>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-click="confirm()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
  </div>
</script>

<script type="text/ng-template" id="removeConfirm.html">
  <div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-trash-o"></i>心理专家删除</h3>
  </div>
  <div class="modal-body ">确定要删除心理专家：<strong>{{item.Name}}</strong>？</div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-click="comfirm()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
  </div>
</script>
