<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">缴费未成功查询
    </h1>
</div>
<div class="wrapper-md" ng-controller="paymentNotSuccessfulPartnerController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="query-group-form form-inline" role="form">
                <div class="form-group">
                    <label><span class="spanColor">*</span>学校：</label>

                    <div class="input-group">
                        <ui-select ng-model="model.selectedGid" theme="bootstrap" ng-change="changeGid()">
                            <ui-select-match placeholder="请选择学校">{{$select.selected.FName}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in model.schoolList | filter: $select.search">
                                <div ng-bind-html="item.FName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-click="deleteSelectedGid()" class="btn btn-default"
                                    type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label><b class="text-danger">*</b>产品包：</label>

                    <div class="input-group">
                        <ui-select ng-model="model.selectProductPackageID" theme="bootstrap"
                                   ng-disabled="model.selectedGid?false:true;">
                            <ui-select-match placeholder="请选择产品包">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item.ID as item in model.productPackageList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-click="model.selectProductPackageID=undefined" class="btn btn-default"
                                    ng-disabled="model.selectedGid?false:true;"
                                    type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>开始日期：</label>

                    <div class="input-group w-sm">
                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="dateStart" ng-disabled="true"
                               is-open="openedStart" datepicker-options="dateOptions" ng-required="true"
                               close-text="确定" current-text="今天" clear-text="清除" required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStart($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>结束日期：</label>

                    <div class="input-group w-sm">
                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="dateOver" ng-disabled="true"
                               is-open="openedOver" datepicker-options="dateOptions" ng-required="true"
                               close-text="确定" current-text="今天" clear-text="清除" required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openOver($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                    </div>
                </div>
                <button type="submit" class="form-group btn btn-success" data-ng-click="search()"
                        ng-disabled="model.selectedGid&&model.selectProductPackageID?false:true;">
                    查询
                </button>
                <button type="submit" class="form-group btn btn-primary" data-ng-click="export()"
                        ng-disabled="model.selectedGid&&model.selectProductPackageID?false:true;">导出
                </button>
            </form>
        </div>
        <table class="table table-bordered table-hover table-condensed bg-white-only">
            <thead>
            <tr>
                <th>序号</th>
                <th>学校</th>
                <th>班级</th>
                <th>姓名</th>
                <th>家长电话</th>
                <th>下单人电话</th>
                <th>下单时间</th>
                <th>服务包</th>
                <th>选择的支付方式</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="row" ng-repeat="item in model.itemList">
                <td class="v-middle">
                    <span ng-bind="$index + 1"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.GName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.ClassName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.UName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.Tel"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.PayTel"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.CDate"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.FuncServiceProductName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.PayChannel"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <page-Directive options="pageIndex"></page-Directive>
    </div>
</div>