<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">合作伙伴学校权限</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading"></div>
            <form class="query-group form-inline clearfix">
                <div class="form-group">
                    <label>合作伙伴：</label>
                    <ui-select ng-model="queryFields.partner" theme="bootstrap" reset-search-input="false">
                        <ui-select-match placeholder="请选择合作伙伴">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices
                                repeat="partner.OrgID as partner in config.partner | propsFilter:{ Name:$select.search }">
                            <span ng-bind-html="partner.Name| highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>学校：</label>
                    <input type="text" class="form-control" ng-model="queryFields.school" placeholder="请输入学校关键字查询">
                </div>
                <div class="form-group">
                    <label>区域：</label>

                    <div class="input-group">
                        <ui-select ng-model="queryFields.province" theme="bootstrap" reset-search-input="false">
                            <ui-select-match placeholder="请选择省份">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="province.id as province in cityList | propsFilter:{ name:$select.search }">
                                <span ng-bind-html="province.name| highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="queryFields.province = undefined"
                                    ng-disabled="!queryFields.province" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <ui-select ng-model="queryFields.city" theme="bootstrap" reset-search-input="false"
                                   ng-disabled="!queryFields.province">
                            <ui-select-match placeholder="请选择城市">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="city.id as city in config.city | propsFilter:{ name:$select.search }">
                                <span ng-bind-html="city.name| highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="queryFields.city = undefined"
                                    ng-disabled="!queryFields.city" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <ui-select ng-model="queryFields.district" theme="bootstrap" reset-search-input="false"
                                   ng-disabled="!queryFields.city">
                            <ui-select-match placeholder="请选择区县">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="district.id as district in config.district | propsFilter:{ name:$select.search }">
                                <span ng-bind-html="district.name| highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="queryFields.district = undefined"
                                    ng-disabled="!queryFields.district" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <button type="button" class="btn w-xs btn-info" ng-click="submitQuery($event)">查询
                </button>
                <button type="button" class="btn btn-info" ng-click="save()">分配学校</button>
            </form>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>省</th>
                    <th>市</th>
                    <th>区</th>
                    <th>学校</th>
                    <th>合作伙伴</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="!dataList">
                    <td colspan="7" class="prompt text-center">
                        <div class="alert alert-warning" role="alert">抱歉，暂时未有数据...<a href="javascript:;"
                                                                                     ng-click="save()">分配学校</a></div>
                    </td>
                </tr>
                <tr ng-repeat="item in dataList">
                    <td>{{item.ProviceName}}</td>
                    <td>{{item.CityName}}</td>
                    <td>{{item.RName}}</td>
                    <td>{{item.FName}}</td>
                    <td>{{item.OrgName}}</td>
                    <td>{{item.CDate}}</td>
                    <td class="table-btn-fa">
                        <a href="javascript:;" title="删除" class="btn btn-xs btn-danger" ng-click="del(item)"><i
                                class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer pagination-bar" ng-hide="!pagination.totalItems">
                <span>页码: {{pagination.currentPage}} / {{pagination.numPages}}</span>
                <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                            max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                            class="pagination-sm pull-right" boundary-links="true" rotate="false"
                            num-pages="pagination.numPages" previous-text="{{pagination.previousText}}"
                            next-text="{{pagination.nextText}}" first-text="{{pagination.firstText}}"
                            last-text="{{pagination.lastText}}" ng-change="pageQuery()"></pagination>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="removeConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-trash-o"></i>组织下学校删除</h3>
    </div>
    <div class="modal-body ">确定要删除组织下的学校：<strong>{{item.FName}}</strong>？</div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="comfirm()">确认</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</script>