<style>
    div .dateSelect{display: block!important;}
</style>
<div ng-controller="traffic" class="ng-scope">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3"> 校园直播
            <!--<button type="submit" id="btnReturn" class="pull-right btn btn-default"-->
            <!--ui-sref="access.app.internal.internalPolicy.internalPolicyList()">-->
            <!--返回-->
            <!--</button>-->
        </h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group" style="border-bottom:1px dashed #cccccc">
                    <span>总览</span>
                </div>
                <ul class="nav nav-tabs"style="float: left;">
                    <li class="list-group"style="float: left;margin-right: 20px;position: relative;">
                        <span>选择年/月</span> <span ng-click="changeTime()" style="display: inline-block;cursor: pointer;"><i class="glyphicon glyphicon-calendar" style="font-size: 20px;"></i></span>
                        <div class="selectDate" style="width:200px;height: auto;border: 1px solid #666;border-radius: 5px;display:none;padding:5px 10px 10px 10px;text-align: center;position: absolute;z-index: 10;background: #fff;">
                            <select ng-model="model.yearLists.year"  class="form-control input-sm" ng-options="org.year for org in model.yearLists" ng-change="slcYear(model.yearLists.year)" style="width: 100%;margin-top: 10px;">
                                <option value="">-选择年份-</option>
                            </select>
                            <select ng-model="model.monthList.month"  class="form-control input-sm" ng-options="org.month for org in model.monthList" ng-change="slcMonth(model.monthList.month)" style="width: 100%;margin-top: 10px;">
                                <option value="">-选择月份-</option>
                            </select>
                            <a href="javascript:;" class="btn btn-xs btn-info"  ng-click="dateSure()" style="display: inline-block;width: 40%;margin-top: 10px;">确定</a>
                        </div>
                        <input type="text" class="dateTime"   style="border:0;font-size: 16px;color: #666;width: 120px;border-bottom: 1px solid #dedede;" readonly>
                        <a href="" ng-click="toDetail()" style="color: #1a9cea;display: inline-block;padding: 0;">查看明细</a>
                    </li>
                </ul>
                <div>
                    <input type="text" class="dateTime" style="border:0;font-size: 16px;color: #666;width: 100px;" readonly><span>总流量</span><h1 style="display: inline-block;color: #f60;margin-left: 10px;">{{GetFlowCount.sumTraffic}}H</h1>
                </div>
                <div class="hbox hbox-auto-xs bg-light  ng-scope" style="background: #fff;">
                    <!--<div class="col w lter b-r ng-scope" style="width:500px;">-->
                        <!--<div class="vbox" id="vbox_group">-->
                            <!--&lt;!&ndash;饼图&ndash;&gt;-->
                            <!--<div id="pie" style="width: 350px;height:500px;margin: 30px auto;border-right: 1px dotted #ccc;"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col">
                        <div class="vbox" id="vbox_application">
                            <!--柱状图-->
                            <div id="bar" style="width:100%;height:600px;margin: 30px auto;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>