<div ng-controller="addCourseController">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">新增课程维护</h1>
    <a ui-sref="access.app.internal.courseManagement.courseMaintain"
       style="color: white;float: right;position: relative;top:-30px">
      <button type="button" class="btn m-b-md w-xs btn-info">返回</button>
    </a>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal form-line-dashed form-validation">
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">课程名称：</label>
            <div class="col-sm-2">
              <input  class="form-control" ng-model="Name" type="text"
                     placeholder="请填写课程名称" >
            </div>
            <!--<label class="col-sm-2 control-label" style="text-align: left;">最多输入15个字符</label>-->
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">课程类型：</label>
            <div class="col-sm-2">
              <ui-select ng-model="courseType.choiceType" theme="bootstrap">
                <ui-select-match  placeholder="请选择课程类型">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="area in courseType.allType track by $index">
                  <span ng-bind-html="area.Name" class="text-center-folded"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <!--<label class="col-sm-2 control-label" style="text-align: left;">最多输入15个字符</label>-->
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">课程分类：</label>
            <div class="col-sm-2">
              <ui-select multiple ng-model="courseClassify.choiceType" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="请选择课程分类">{{$item.Name}}</ui-select-match>
                <ui-select-choices group-by="someGroupFn" repeat="type in courseClassify.allInfo | propsFilter: {Name: $select.search}">
                  <div ng-bind-html="type.Name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
            <!--<label class="col-sm-2 control-label" style="text-align: left;">最多输入15个字符</label>-->
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">封面图片：</label>
            <div class="col-sm-2">
              <button style="margin-left: 30px" class="btn btn-success btn-addon ng-pristine ng-untouched ng-valid" ngf-select="" name="file" ng-model="model.imgUrl" ng-change="fileChange(model.imgUrl)" ngf-pattern="'image/*'" ngf-accept="'image/gif, image/jpeg, image/png, image/jpg'" type="file"><i class="fa fa-plus"></i>图片上传</button>
              <div style="width: 180px;height: 160px;" class="m-t-md" ng-if="imgUrl">
                <img ng-src={{imgUrl}} alt="" style="width: 100%;height: 100%">
              </div>
            </div>
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">简介：</label>
            <div class="col-sm-5">
            <textarea name=""  cols="5" rows="5" class="form-control" ng-model="intro">

            </textarea>
            </div>
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">讲师：</label>
            <div class="col-sm-2">
              <ui-select ng-model="teacher.choiceOrg" theme="bootstrap" reset-search-input="false" ng-change="choiceOrg()">
                <ui-select-match  placeholder="请选择机构">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="area in teacher.org track by $index">
                  <span ng-bind-html="area.Name" class="text-center-folded"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-sm-1">
              <ui-select ng-model="teacher.choiceTeacher" theme="bootstrap" reset-search-input="false">
                <ui-select-match  placeholder="请选择讲师">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat=" area in teacher.teacherList track by $index">
                  <span ng-bind-html="area.Name" class="text-center-folded"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">价格：</label>
            <div class="col-sm-4">
              <div class="radio">
                <label class="i-checks" ng-click="price.choiceType=true">
                  <input type="radio" name="a1" value="option2"  ng-checked="price.choiceType==true">
                  <i></i>
                  收费
                </label>
                <label class="i-checks m-l-md" ng-click="price.choiceType=false">
                  <input type="radio" name="a2" value="option2" ng-checked="price.choiceType==false">
                  <i></i>
                  免费
                </label>
              </div>
              <div class="m-t-md" style="border:1px solid #ececec;overflow: hidden;padding-bottom: 19px;" ng-if="price.choiceType==true">
                <div ng-repeat="item in price.typeList" class="m-t-sm col-sm-12">
                  <div class="col-sm-4">
                    <label class="checkbox-inline i-checks">
                      <input type="checkbox" value="option1" ng-checked="item.inputSate" ng-click="choicePriceInput($event,item)"><i></i>{{item.Name}}
                    </label>
                  </div>
                  <div class="col-sm-3" style="padding-left: 0">
                    <input type="number" min="0" class="form-control" style="width: 90px;display: inline-block;position: relative;top: 5px;left: 34px" ng-model="item.Price">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">适合学段：</label>
            <div class="col-sm-5">
              <label class="checkbox-inline i-checks" ng-repeat="item in allTerm" ng-checked="item.state">
                <input type="checkbox" value="option1" ng-checked="item.state" ng-click="choiceTerm(item)"><i></i> {{item.Name}}
              </label>
            </div>
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">详细介绍：</label>
            <div class="col-sm-5">
              加载编辑器的容器
              <script id="container" name="content" type="text/plain"></script>
              <ucu-ueditor options="context"></ucu-ueditor>
            </div>
          </div>
          <div class="form-group col-lg-offset-2">
            <label class="col-sm-2 control-label">属性标签：</label>
            <div class="col-sm-2">
              <ui-select multiple ng-model="attribute.choiceList" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="请选择属性">{{$item.Name}}</ui-select-match>
                <ui-select-choices group-by="someGroupFn" repeat="person in attribute.allList | propsFilter: {Name: $select.search}">
                  <div ng-bind-html="person.Name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group col-lg-offset-2" ng-show="courseType.choiceType.ID==1">
            <label class="col-sm-2 control-label">视频添加方式：</label>
            <div class="col-sm-5">
              <div class="radio">
                <label class="i-checks">
                  <input type="radio" name="a" value="1" ng-checked="video.choiceType==1" ng-click="video.choiceType=1">
                  <i></i>
                  本地上传
                </label>
                <label class="i-checks m-l-md">
                  <input type="radio" name="a" value="2" ng-checked="video.choiceType==2" ng-click="video.choiceType=2">
                  <i></i>
                  外部链接
                </label>
              </div>
              <div class="m-t-md" ng-show="video.choiceType==1" style="height: 132px;overflow: hidden;margin-bottom: 0;
padding-bottom: 0;">
                <p>
                  上传视频：
                  <button class="btn btn-success btn-addon uploadBtn" id="pickfiles" name="file" type="file" ng-click="" style="position: relative;z-index: 100">
                    <i class="fa fa-plus"></i>
                    视频上传
                  </button>
                </p>
                <div id="containerVideo" style="margin: 10px 0;position: relative;"></div>
                <progressbar class="progress-striped active m-b-sm" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar><div class="qiniu-result text-base" style="padding: 10px;display: none;">视频上传成功！</div>
                <div class="text-danger" ng-if="video.showTip">视频已上传</div>
              </div>
              <div class="m-t-md" ng-if="video.choiceType==2">
                <p>
                  <span>视频链接：</span>
                  <input type="text" style="display: inline-block;width: 350px;" class="form-control" placeholder="请输入视屏链接" ng-model="video.link">
                </p>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-offset-2" ng-if="courseType.choiceType.ID==4">
            <label class="col-sm-2 control-label">选择课程：</label>
            <div class="col-sm-5">
              <ui-select ng-model="course.singleCourse" theme="bootstrap" style="display: inline-block;width: 250px;">
                <ui-select-match  placeholder="请选择课程">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices
                        repeat="item in course.allList | filter: $select.search" refresh="refreshSchool($select.search)" refresh-delay="1000">
                  <div ng-bind-html="item.Name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <button type="button" class="btn w-xs btn-primary" style="position:relative;top:-13px;" data-ng-click="addListCourse(course.singleCourse)">添加课程</button>
              <div>
                <table class="table table-bordered table-hover table-striped" style="max-width: 900px">
                  <thead>
                  <tr>
                    <th>课程名</th>
                    <!--<th>顺序</th>-->
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="item in course.choiceList">
                    <td>{{item.Name}}</td>
                    <!--<td>{{$index}}</td>-->
                    <td style="width: 210px"><button type="button" class="btn btn-sm btn-danger" data-ng-click="deletCourse(item)">删除</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn w-xs btn-info" ng-click="confirm()">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
