.modal-content{
    font-size: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#000;
    .icon{
        height: 1.1rem;
        width: 100%;
        background: url('../../assets/images/yx_success.png') no-repeat center ;
        background-size: contain;
    }
    .title{
        font-weight: bold;
    }
    .hint{
        font-size:0.26rem;
    }

}
.modal-config{
    color:rgb(104 ,201 ,76)
}