<div ng-controller="institutionListController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">机构管理列表

            <a  class="pull-right btn btn-warning" ng-click="updateInstitutionLiveList(item)">添加合作机构</a>
        </h1>
    </div>

    <div class="wrapper-md">
        <div class="panel panel-default" style="position: relative;">
            <div class="panel-body">
                <form class="query-group-form form-inline" role="form" name="form" style="margin-bottom: 0">
                    <!--search-->

                    <div class="form-group" style="width: 100%;">
                        <div class="input-group searchLivePre" style="width: 20%;float: right;">
                            <input type="text" class="input-sm form-control" ng-model="model.keyword" placeholder="请输入机构名称">
                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-default" type="button" style="width: 100%" ng-click="btnSearch()">Go!</button>
                                            </span>
                        </div>
                        <label>机构类型：</label>
                        <ui-select ng-model="model.gTypeID"
                                   theme="bootstrap">
                            <ui-select-match placeholder="请选择状态">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item.id as item in model.orgLists| filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <!--状态选择-->
                        <label  style="margin-bottom: 15px;">&nbsp;状态：</label>
                        <ui-select ng-model="model.s_state"
                                   theme="bootstrap">
                            <ui-select-match placeholder="请选择状态">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item.id as item in model.Status| filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <br>

                        <!--排序按钮-->

                    </div>
                </form>
            </div>
            <table class="table table-bordered table-hover table-condensed bg-white-only">
                <thead>
                <tr>
                    <th style="width: 55px;"><label class="i-checks"><input type="checkbox" ng-model="checkedAll"
                                                                            ng-click="checkAll()"><i></i></label></th>
                    <th>机构名称</th>
                    <th>机构类型</th>
                    <th>负责人姓名</th>
                    <th>账号</th>
                    <th>所在地</th>
                    <th>发布员数量</th>
                    <th>可见范围</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody  >

                <tr st-select-row="row"  ng-repeat="item in model.itemList">
                    <td><label class="i-checks"><input type="checkbox" ng-model="item.checked"
                                                       ng-click="checkedSingle(item.checked, item.ID)"><i></i></label>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.GrpName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.GTypeName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.MasterName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.MasterTel"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.Province"></span>
                        <span ng-bind="item.City"></span>
                        <span ng-bind="item.County"></span>
                    </td>

                    <td class="v-middle">
                        <span ng-bind="item.PubMbrCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.Range"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.StatusName"></span>
                    </td>


                    <td>
                        <a href="javascript:;" ng-show="item.Status==0" class="btn btn-xs btn-danger" title="" ng-click="Disable(item)"> 禁用 </a>
                        <a href="javascript:;" ng-show="item.Status==-1" class="btn btn-xs btn-success" title="" ng-click="Disable(item)"> 开启 </a>
                        <a href="javascript:;" class="btn btn-xs btn-info" title="" ng-click="updateInstitutionLiveList(item)"> 修改可见范围 </a>
                        <a href="javascript:;" class="btn btn-xs btn-primary" title="" ng-click="toInstitutionLiveList(item)"> 机构详情 </a>

                    </td>
                </tr>
                <tr>
                    <td colspan="10" class="prompt text-center" data-ng-show="model.itemList.length==0">
                        <div class="alert alert-warning" role="alert">抱歉，暂时未有数据...
                        </div>
                    </td>
                </tr>
                </tbody >

            </table>
            <div style=" position: absolute; bottom: 20px;left:15px;"  data-ng-show="model.itemList.length>0">
                <label class="i-checks"><input type="checkbox" ng-model="checkedAll"
                                               ng-click="checkAll()"><i></i></label>
                <a href="" style="margin-left: 10px;color: #00a0e9;"ng-click="DisableAll(true)">批量禁用</a>
                <a href="" style="margin-left: 10px;color: #00a0e9;"ng-click="DisableAll(false)">批量开启</a>
            </div>
            <page-Directive options="pageIndex"></page-Directive>
        </div>
    </div>
</div>




<script type="text/ng-template" id="pushMsgDetail.html">
    <div class="modal-header">
        <h3 class="modal-title" style="font-weight: 100">{{msgTitle}}</h3>
    </div>
    <div class="modal-body" style="text-align: center">{{msgDetail}}</div>
    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-info m-r-lg" ng-click="cancel()">取消</button>
        <button class="btn btn-info  btn-danger m-l-lg" ng-click="cancelDelet()">确认</button>
    </div>
</script>