<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">学校banner监控</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading"></div>
            <form class="query-group form-inline clearfix">
                <div class="form-group">
                    <label>学校名称：</label>

                    <div class="input-group">
                        <ui-select ng-model="queryFields.school" theme="bootstrap" reset-search-input="false"
                                   ng-change="selectGid()">
                            <ui-select-match placeholder="请输入关键字查询">{{$select.selected.FName}}</ui-select-match>
                            <ui-select-choices repeat="school in schoolList track by $index"
                                               refresh="refreshSchool($select.search)" refresh-delay="500">
                                <span ng-bind-html="school.FName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label>状态：</label>
                    <select class="form-control" ng-model="EventData.bannerState">
                        <option value="0">全部</option>
                        <option value="1">有效</option>
                        <option value="2">无效</option>
                    </select>
                </div>
                <button type="button" class="btn m-b-md w-xs btn-info" ng-click="serch($event)">查询</button>
                <!--<a ui-sref="app.psychologicalConsultation.addSchoolBanner" style="color: white"><button class="btn w-xs btn-primary m-b-md m-l-xs"><i class="fa fa-plus m-r-xs"></i>新增</button></a>-->
            </form>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <!--<th style="width: 86px;"><label class="i-checks"><input type="checkbox" ng-model="checkedAll" ng-click=""><i></i></label> 序号</th>-->
                    <th>学校</th>
                    <th>标题</th>
                    <th>缩略图</th>
                    <th>链接</th>
                    <th>排序值</th>
                    <th>开始日期</th>
                    <th>结束日期</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="11" class="prompt text-center" ng-show="!dataList">
                        <div class="alert alert-warning" role="alert">抱歉，暂时未有数据...
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="item in dataList">
                    <!--<td><label class="i-checks"><input type="checkbox" ng-model="item.checked"><i></i></label> {{$index}}</td>-->
                    <td>{{item.TopGName}}</td>
                    <td style="word-break:break-all;max-width: 220px">{{item.Name}}</td>
                    <td ng-mousemove="showImg(item)"><img style="width: 85px;height: 75px;vertical-align: middle"
                                                          ng-src="{{item.ImgUrl}}" alt=""></td>
                    <td style="word-break:break-all;max-width: 320px"><a class="text-info" ng-click="openUrl(item.Url)">{{item.Url}}</a></td>
                    <td>{{item.Sort}}</td>
                    <td>{{item.BDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{item.EDate | date:'yyyy-MM-dd'}}</td>
                    <!--<td><a href="javascript:;" title="删除" class="btn btn-xs btn-danger" ng-click="delete(item)"><i class="fa fa-trash-o"></i></a></td>-->
                </tr>
                </tbody>
            </table>
            <div class="panel-footer pagination-bar" ng-hide="!pagination.totalItems">
                <span>页码: {{pagination.currentPage}} / {{pagination.numPages}}</span>
                <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                            max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                            class="pagination-sm pull-right" boundary-links="true" rotate="false"
                            num-pages="pagination.numPages" previous-text="{{pagination.previousText}}"
                            next-text="{{pagination.nextText}}" first-text="{{pagination.firstText}}"
                            last-text="{{pagination.lastText}}" ng-change="pageQuery()"></pagination>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="showImg.html">
    <div class="modal-body" style="" ng-mouseleave="cancel()"><img style="width: 100%;height: 100%;" ng-src="{{msgDetail}}"
                                                                   alt=""></div>
    <!--<div class="modal-footer" style="text-align: center">-->
    <!--<button class="btn btn-info m-r-lg" ng-click="cancel()">取消</button>-->
    <!--<button class="btn btn-info  btn-danger m-l-lg" ng-click="cancelDelet()">确认</button>-->
    <!--</div>-->
</script>
