<style>
    thead tr th,.table tbody tr td{text-align: center;vertical-align: middle;}
    div .dateSelect{display: block!important;}
    tbody tr{border-bottom: 1px solid #e9f2e5;}
</style>
<div ng-controller="trafficSchool">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3"> 校流量明细</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-body" style="position: relative;">
                <!--顶部-->
                <div class="form-group" style="margin-bottom: 0;">
                    <h3 style="text-align: center;font-weight:500;color: #f60;line-height: 1;"><span class="hisYear">{{model.backYear}}</span>年<span class="hisMonth">{{model.backMonth}}</span>月,学校流量明细</h3>
                </div>
                <!--内容部分 条件选择-->
                    <div class="conditionBox" style="height: 40px;margin: 20px 0;">
                        <a class="btn btn-default" href="javascript:history.back(-1);" style="display: inline-block;float: left;">返回上一级</a>

                        <!--时间选择容器-->
                        <div class="dateBox" style="position: relative;float: left;line-height: 34px;margin-left: 20px;">
                            <span>选择时间：</span> <span ng-click="changeTime()" style="display: inline-block;cursor: pointer;"><i class="glyphicon glyphicon-calendar" style="font-size: 20px;"></i></span>
                            <div class="selectDate" style="width:200px;height: auto;border: 1px solid #666;border-radius: 5px;display:none;padding:5px 10px 10px 10px;text-align: center;position: absolute;z-index: 10;background: #fff;">
                                <select ng-model="model.yearLists.year"  class="form-control input-sm" ng-options="org.year for org in model.yearLists" ng-change="slcYear(model.yearLists.year)" style="width: 100%;margin-top: 10px;">
                                    <option value="">-选择年份-</option>
                                </select>
                                <select ng-model="model.monthList.month"  class="form-control input-sm" ng-options="org.month for org in model.monthList" ng-change="slcMonth(model.monthList.month)" style="width: 100%;margin-top: 10px;">
                                    <option value="">-选择月份-</option>
                                </select>
                                <a href="javascript:;" class="btn btn-xs btn-info"  ng-click="dateSure()" style="display: inline-block;width: 40%;margin-top: 10px;">确定</a>
                            </div>
                            <input type="text" class="dateTime" style="border:0;font-size: 16px;color: #f60;width: 100px;" readonly>
                        </div>
                        <!--机构选择-->
                        <div class="grpBox">
                            <label style="display: block;float: left;margin-top: 6px;">机构：</label>
                            <div class="input-group" style="width: 200px;float: left;">
                                <ui-select ng-model="GetSchoolData.GID" theme="bootstrap"  >
                                    <ui-select-match placeholder="请选择机构">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices
                                            repeat="item.id as item in model.grpList | filter: $select.search"
                                            refresh="refreshGrpList($select.search)" refresh-delay="500">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <button class="btn btn-default" style="display:block;float: left;border-left: 0;" ng-click="grpClear()"><span class="glyphicon glyphicon-trash"></span></button>
                            <button class="btn btn-default" style="display:block;float: left;margin-left: 5px;" ng-click="grpSure()">确定</button>
                        </div>
                    </div>
                <!--内容部分 主体内容-->
                <table class="table table-striped b-t b-light">
                    <!--表头-->
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>学校名称</th>
                        <th>负责人</th>
                        <th>账号</th>
                        <th>年度</th>
                        <th>月份</th>
                        <th>视频数量/时长</th>
                        <th>观看人数</th>
                        <th>播放总时长</th>
                    </tr>
                    </thead>
                    <!--表体-->
                    <tbody>
                    <tr st-select-row="row" ng-repeat="item in model.itemList" data-gid = {{item.GID}}>
                        <!--<td>-->
                            <!--<label class="i-checks m-b-none"><input type="checkbox" ng-model="item.checked" ng-click="checkedSingle(item.checked, item.GID)"name="post[]"><i></i></label>-->
                        <!--</td>-->
                        <td>
                            <span ng-bind="item.index"></span>
                        </td>
                        <td>
                            <span ng-bind="item.GName"></span>
                        </td>
                        <td>
                            <span ng-bind="item.Master"></span>
                        </td>
                        <td>
                            <span ng-bind="item.Tel"></span>
                        </td>

                        <td>
                            <span ng-bind="item.Year"></span>
                        </td>
                        <td>
                            <span ng-bind="item.Month"></span>
                        </td>
                        <td>
                            <span ng-bind="item.PlayDuration"></span>
                        </td>
                        <td>
                            <span ng-bind="item.PlayUserCnt"></span>
                        </td>
                        <td>
                            <a href="" class="btn btn-xs btn-primary" style="text-decoration: underline;" ng-click="toClass(item.GID,item.GName)"><span ng-bind="item.VideoDuration"></span>H</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <!--<div style="position: absolute;bottom: 0;left: 40px;">-->
                    <!--<label class="i-checks"><input type="checkbox" class="checkAll" ng-model="checkedAllA"-->
                                                   <!--ng-click="checkAll(checkedAllA)"><i></i>全选</label>-->
                    <!--<button class="btn m-b-xs  btn-info" ng-click="controlAll(true)">操作</button>-->
                    <!--&lt;!&ndash;<a href="" style="margin-left: 10px;color: #00a0e9;"ng-click="ForbidAll(false)">解禁</a>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <page-Directive options="pageIndex"  ></page-Directive>
        </div>
    </div>
</div>