.RoleManage-table {
  padding-top: 30px;
}

.table-isSelected {
  // background: red;
}

.noUser {
  text-align: center;
  padding: 15px;
  color: #333;
}
.checkedTitle{
  display: flex;
  justify-content: space-between;
}