.right-row{
  text-align: right;
}
.table-info{
  margin-top: 1rem;
  margin-bottom: 1rem;
  b{
    font-size: 1rem;
    color: black;
    margin-right: 2rem;
  }
}
.down-table{
  float: right;
  text-align: right;
}
