<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">缴费推送设置
    </h1>
</div>
<div class="wrapper-md" ng-controller="paymentPushSetController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="query-group-form form-inline" role="form">
                <div class="form-group">
                    <label>学校：</label>

                    <div class="input-group">
                        <ui-select ng-model="queryFields.selectedGid" theme="bootstrap"
                                   ng-change="changeGid()">
                            <ui-select-match placeholder="请选择学校">{{$select.selected.FName}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in schoolList | filter: $select.search">
                                <div ng-bind-html="item.FName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-click="deleteSelectedGid()" class="btn btn-default"
                                    type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <button type="submit" class="form-group btn btn-success" data-ng-click="search()">
                    查询
                </button>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            ui-sref="access.app.partner.applicationFeeOpen.editPaymentPushSet">
                        添加缴费入口
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-bordered table-hover table-condensed bg-white-only">
            <thead>
            <tr>
                <th class="v-middle">学校名称</th>
                <th class="v-middle">合作伙伴</th>
                <th class="v-middle">缴费入口标题</th>
                <th class="v-middle">入口缩略图</th>
                <th class="v-middle" style="width: 10%">入口链接类型</th>
                <th class="v-middle">是否显示固缴费入口</th>
                <th class="v-middle">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="row" ng-repeat="item in itemList">
                <td class="v-middle">
                    <span ng-bind="item.GName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.PartnerName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.FixEntryTitle"></span>
                </td>
                <td class="v-middle">
                    <img style="width: 60px;height: 50px;" ng-src="{{item.FixEntryPic}}" alt="">
                </td>
                <td class="v-middle">
                    <span ng-bind="item.FixEntryUrlTypeName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.IsShowFixEntryName"></span>
                </td>
                <td class="v-middle">
                    <a href="javascript:;" class="btn btn-info btn-xs"
                       ui-sref="access.app.partner.applicationFeeOpen.editPaymentPushSet({gid:'{{item.GID}}',id:'{{item.ID}}'})">编辑</a>
                    <a href="javascript:;" class="btn btn-success btn-xs" ng-click="pushLog(item)">查看推送日志</a>
                    <a href="javascript:;" class="btn btn-primary btn-xs" ng-click="addPush(item)">添加推送</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer pagination-bar" ng-hide="!pagination.totalItems">
            <span>页码: {{pagination.currentPage}} / {{pagination.numPages}}</span>
            <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                        max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                        class="pagination-sm pull-right" boundary-links="true" rotate="false"
                        num-pages="pagination.numPages" previous-text="{{pagination.previousText}}"
                        next-text="{{pagination.nextText}}" first-text="{{pagination.firstText}}"
                        last-text="{{pagination.lastText}}" ng-change="pageQuery()"></pagination>
        </div>
    </div>
</div>