<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">第一步：添加产品
    </h1>
</div>
<div class="wrapper-md" ng-controller="addPartnerProductController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="query-group-form form-inline" role="form">
                <div class="form-group">
                    <label><span class="spanColor">*</span>学校：</label>
                    <div class="input-group">
                        <ui-select ng-model="queryFields.selectedGid" theme="bootstrap"
                                   ng-change="changeGid()">
                            <ui-select-match placeholder="请选择学校">{{$select.selected.FName}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in schoolList | filter: $select.search">
                                <div ng-bind-html="item.FName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <button type="submit" class="form-group btn btn-info" data-ng-click="search()">
                    查询
                </button>
                <div class="form-group">
                    <button type="submit" class="btn btn-info" ng-click="addItem(queryFields.selectedGid)">
                        添加产品
                    </button>
                </div>
            </form>
        </div>

        <table class="table table-bordered table-hover table-condensed bg-white-only">
            <thead>
            <tr>
                <th class="v-middle">合作伙伴</th>
                <th class="v-middle">学校</th>
                <th class="v-middle">产品名称</th>
                <th class="v-middle">业务领域</th>
                <th class="v-middle">创建日期</th>
                <th class="v-middle" style="width: 10%">修改</th>
                <th class="v-middle">删除</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="row" ng-repeat="item in itemList">
                <td class="v-middle">
                    <span ng-bind="item.OrgName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.GName"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.Name"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.BusinessAreas"></span>
                </td>
                <td class="v-middle">
                    <span ng-bind="item.CDate"></span>
                </td>
                <td class="v-middle">
                    <button class="btn btn-sm btn-info" ng-click="save(item)">
                        修改
                    </button>
                </td>
                <td class="v-middle">
                    <div class="btn-group" dropdown>
                        <a class="btn btn-sm btn-primary btn-danger" dropdown-toggle>删除</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="deleteMine(item)" href>确定</a></li>
                            <li><a href>取消</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="panel-footer pagination-bar" ng-hide="!pagination.totalItems">
            <span>页码: {{pagination.currentPage}} / {{pagination.numPages}}</span>
            <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                        max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                        class="pagination-sm pull-right" boundary-links="true" rotate="false"
                        num-pages="pagination.numPages" previous-text="{{pagination.previousText}}"
                        next-text="{{pagination.nextText}}" first-text="{{pagination.firstText}}"
                        last-text="{{pagination.lastText}}" ng-change="pageQuery()"></pagination>
        </div>
    </div>
</div>