<style>
    .serchButton{
        display: inline-block;
        padding:7px;
        width: 230px;
        border: 1px solid #ececec;
        margin-bottom: 15px;
    }
    .linkContent a:link{
        color: #007acc;
    }
    .linkContent a:visited{
        color: #007acc;
    }
    .linkContent .col-sm-3{
        padding: 0  15px;
    }
</style>

<div ng-controller="noteUseConditionSerchContoller">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">短信使用情况查询</h1>
    </div>
    <div class="wrapper-md linkContent">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-3"><a class="serchButton" href="javascript:" target="_blank" ng-click="openReport('http://112.74.51.208:88/production/ReportServer?reportlet=rpt%2Fpartner%2F%5B5b66%5D%5B6821%5D%5B77ed%5D%5B4fe1%5D%5B6d88%5D%5B8017%5D%5B603b%5D%5B8868%5D%5B65b0%5D_%5B5408%5D%5B4f5c%5D%5B4f19%5D%5B4f34%5D.cpt')">学校通知短信总表</a></div>
                <div class="col-sm-3"><a class="serchButton" href="javascript:" target="_blank" ng-click="openReport('http://112.74.51.208:88/production/ReportServer?reportlet=rpt%2Fpartner%2F%5B5b66%5D%5B6821%5D%5B901a%5D%5B77e5%5D%5B77ed%5D%5B4fe1%5D%5B660e%5D%5B7ec6%5D%5B65b0%5D_%5B5408%5D%5B4f5c%5D%5B4f19%5D%5B4f34%5D.cpt')">学校通知短信明细</a></div>
            </div>
        </div>
    </div>
</div>
