<div ng-controller="listOfAmbassadorController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">关爱使积分
        </h1>
    </div>
    <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="query-group-form form-inline" role="form" name="form">

                    <div class="form-group"  >
                        <label> <span class="spanColor">*</span>学校列表：</label>
                        <div class="input-group">
                            <ui-select ng-model="model.schoolID" ng-change="search()"
                                       theme="bootstrap">
                                <ui-select-match placeholder="请选择学校">{{$select.selected.FName}}</ui-select-match>
                                <ui-select-choices
                                        repeat="item.ID as item in model.schoolList| filter: $select.search"    refresh-delay="500">
                                    <div ng-bind-html="item.FName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <button type="submit" class="form-group btn btn-success" data-ng-click="search()">
                        查找
                    </button>


                </form>
                <table class="table table-bordered table-hover table-condensed bg-white-only">
                    <thead>
                    <tr>
                        <th style="width: 55px;"><label class="i-checks"><input type="checkbox" ng-model="checkedAll"
                                                                                ng-click="checkAll()"><i></i></label></th>
                        <th>用户名称</th>
                        <th>电话号码</th>
                        <th>行政区域名称</th>
                        <th>积分</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="item in model.itemList">
                        <td><label class="i-checks"><input type="checkbox" ng-model="item.IsChecked"
                                                           ng-click="checkedSingle(item.IsChecked, item.ID)"><i></i></label>
                        </td>
                        <td class="v-middle">
                            <span ng-bind="item.UName"></span>
                        </td>
                        <td class="v-middle">
                            <span ng-bind="item.Tel"></span>
                        </td>

                        <td class="v-middle">
                            <span ng-bind="item.RName"></span>
                        </td>
                        <td class="v-middle">
                            <span ng-bind="item.Score"></span>
                        </td>
                        <td class="v-middle">
                            <a href="javascript:;" class="btn btn-xs btn-success" title="积分调整" ng-click="just(item)"><i
                                    class="fa fa-edit"></i>积分调整</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script src="../bower_components/jquery/dist/jquery-ui.min.js"></script>
    <script type="text/ng-template" id="newAdjustAssador.html">
        <div class="bg-light">
            <div class="modal-footer">
                <span class="pull-left h4">调整积分</span>
            </div>
        </div>
        <div class="panel-body" style="margin-bottom:-30px;">
            <form class="query-group-form form-inline">
                <div class="form-group"  >
                    <label>  </label>
                    <div class="input-group">
                        <div class="btn-group" ng-init="radioModel = 'pl'">
                            <label class="btn btn-sm btn-info ng-untouched ng-valid ng-dirty active ng-valid-parse" ng-click="setJustType(true)" ng-model="radioModel" btn-radio="'pl'"><i class="fa fa-check text-active"></i> 增加积分</label>
                            <label class="btn btn-sm btn-danger ng-untouched ng-valid ng-dirty" ng-model="radioModel" ng-click="setJustType(false)" btn-radio="'ml'"><i class="fa fa-check text-active"></i> 扣减积分</label>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group"  >
                    <label> 可用积分:
                </label>
                    <div class="input-group">
                      {{newModel.justTotal}}
                    </div>
                </div>
                <br/>
                <div class="form-group"  >
                    <label>   <input type="text" class="form-control" disabled="disabled" style="width:80px;" placeholder="请输入分值" ng-model="newModel.justTypeName">
                    </label>
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="请输入分值" ng-model="newModel.justNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label>描述：</label>

                    <div class="input-group">
                        <textarea class="form-control"
                                  ng-model="newModel.Desc"
                                  style="width:420px;height:68px;resize: none;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="save()"
                    ng-disabled="!(newModel.justNumber )">
                保存
            </button>
            <button type="submit" class="btn btn-default" ng-click="close()">关闭</button>
        </div>
    </script>
</div>




