.center{
  margin: 20px 0;
}
.payments{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ececec;
  .payments-title{
    display: flex;
    //justify-content: space-between;
    margin-bottom: 12px;
    .title-line{
      width: 5px;
      height: 26px;
      background-color: #48A3FF;
      margin-right: 8px;
    }
  }
  .payments-item{
    display: flex;
    margin: 20px 0;
    .one-payments{
      display: flex;
      min-width: 140px;
      height: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      border-right: 1px solid #ececec;
      .payments-number{
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
      }
      .order-number{
        color: #000000;
      }
    }
    .live-number1{
      background-image: url("../../assets/images/pl.png");
    }
    .live-number2{
      background-image: url("../../assets/images/fx.png");
    }
    .live-number3{
      background-image: url("../../assets/images/dy.png");
    }
    .live-number4{
      background-image: url("../../assets/images/gz.png");
    }
    .live-number5{
      background-image: url("../../assets/images/sc.png");
    }
    .live-number{
      border: none;
      margin-right: 20px;
      height: 116px;
      display: flex;
      width: 9%;
      min-width: 4%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-repeat:no-repeat;
      background-position:5% 0;
      color: #ffffff;
      .payments-number{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
    .no-line{
      border: none;
    }
  }
  .chart-choose{

    .tabOne{
      width: 100%;
      display: flex;
      .chart-left{
        width: 80%;
        height: 480px;
      }
      .chart-right{
        width: 15%;
        margin-left: 5%;
        height: 500px;

        .total-one{
          width: 80%;
          min-width: 80%;
          padding: 10px;
          background-color: #E7EBF6;
          margin-bottom: 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .total-number{
            font-weight: 800;
            font-size: 18px;
            margin-bottom: 16px;
          }
        }
        .time-scope{
            text-align: left;
            padding: 10px 0;
            width: 150px;
          background-color: #ffffff;
          margin-bottom: 0px;
        }
      }
    }
  }
}
.rank{
  margin-bottom: 20px;
  .payments-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    .title-left{
      display: flex;
      align-items: center;
      .title-line{
        width: 5px;
        height: 26px;
        background-color: #48A3FF;
        margin-right: 8px;
      }
    }
    .ant-menu{
      border: none;
    }
  }
  .payments-content {
    display: flex;
    .content-right{
      margin-left: 10%;
    }
    .content-left,.content-right {
      width: 45%;
      .payments-item:nth-child(5){
        border: none;
      }
      .payments-item {
        display: flex;
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid #ececec;
        align-items: center;
        .border-number{
          margin: 0 5px;
          width: 26px;
          height: 26px;
          border-radius: 13px;
          background-color: #ececec;
          display: flex;justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: 600;
        }
        .item-left-icon {
          display: flex;
          flex-direction: column;
          margin-left: 16px;
          .one-item-title {
            margin-bottom: 10px;
            span {
              margin-right: 6px;
              font-weight: 600;
            }
          }
          .icon-ary {
            display: flex;
            margin-bottom: 10px;
            span {
              margin: 0 48px 0 2px;
            }
            .one-item-icon {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
.payments-history{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ececec;
  .payments-title{
    display: flex;
    //justify-content: space-between;
    margin-bottom: 12px;
    .title-line{
      width: 5px;
      height: 26px;
      background-color: #48A3FF;
      margin-right: 8px;
    }
  }
  .payments-item{
    display: flex;
    margin: 20px 0;
    .one-payments{
      display: flex;
      min-width: 200px;
      height: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0 58px;
      border-right: 1px solid #ececec;
      .payments-number{
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
      }
      .order-number{
        color: #000000;
      }
    }
    .live-number1{
      background-image: url("../../assets/images/pl.png");
    }
    .live-number2{
      background-image: url("../../assets/images/fx.png");
    }
    .live-number3{
      background-image: url("../../assets/images/dy.png");
    }
    .live-number4{
      background-image: url("../../assets/images/gz.png");
    }
    .live-number5{
      background-image: url("../../assets/images/sc.png");
    }
    .live-number{
      border: none;
      margin-right: 20px;
      height: 116px;
      display: flex;
      min-width: 200px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-repeat:no-repeat;
      background-position:5% 0;
      color: #ffffff;
      .payments-number{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
    .no-line{
      border: none;
    }
  }
  .chart-choose{

    .tabOne{
      width: 100%;
      display: flex;
      .chart-left{
        width: 80%;
        height: 480px;
      }
      .chart-right{
        width: 18%;
        margin-left: 2%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .history-number{
          display: flex;
          flex-wrap:wrap;
          .total-one{
            width: 40%;
            min-width: 40%;
            padding:10px 0;
            background-color: #E7EBF6;
            border-radius: 10px;
            margin: 28px 0 28px 5%;
            display: flex;
            flex-direction: column;
            align-items: center;;
            justify-content: space-around;
            .total-number{
              font-weight: 800;
              font-size: 18px;
              margin: 10px 0;
            }
          }
          .time-scope{
            min-width: 140px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

