<div ng-controller="NewAddProductController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">添加产品
            <button type="submit" class="pull-right btn btn-default" name="return"
                    ui-sref="access.app.partner.applicationFeeOpen.addPartnerProduct">返回
            </button>
        </h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default col-sm-8">
            <div class="panel-body">
                <form class="form-horizontal" method="get" name="registration">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学校：</label>
                        <div class="col-sm-10">
                            <div class="input-group w-md">
                                <ui-select ng-model="model.selectedGid" theme="bootstrap" ng-change="changeGid()" ng-disabled="id?true:false">
                                    <ui-select-match placeholder="请选择学校" >{{$select.selected.FName}}</ui-select-match>
                                    <ui-select-choices repeat="item.ID as item in model.schoolList | filter: $select.search" >
                                        <div ng-bind-html="item.FName | highlight: $select.search" ng-click="choiceSchool(item)" ></div>
                                    </ui-select-choices>
                                </ui-select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">产品名称：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control w-md" ng-model="model.productName" required/>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 40px">
                        <label class="col-sm-offset-1 control-label">请选择产品中包含的功能</label>
                        <table class="table table-bordered table-hover table-condensed bg-white-only" style="margin-top: 20px">
                            <thead>
                                <tr style="background: #DDDDDD">
                                    <th class="h-center v-middle">收费领域</th>
                                    <th class="h-center v-middle">收费功能项</th>
                                    <th class="h-center v-middle">状态</th>
                                    <th class="h-center v-middle">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr st-select-row="row" ng-repeat="item in FuncIDs">
                                    <td class="v-middle h-center">
                                        <span ng-bind="item.BusinessAreaName"></span>
                                    </td>
                                    <td class="v-middle h-center">
                                        <span ng-bind="item.FuncName"></span>
                                    </td>
                                    <td class="v-middle h-center">
                                        <span ng-bind="item.IsContains?'已包含':'未包含'" ng-style="item.IsOwnColor"></span>
                                    </td>
                                    <td class="v-middle h-center">
                                        <div class="btn-group" dropdown ng-show="item.IsOwn?true:false">
                                            <a class="btn btn-sm btn-primary btn-danger" dropdown-toggle>删除</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a ng-click="confirm(item)" href>确定</a></li>
                                                <li><a href>取消</a></li>
                                            </ul>
                                        </div>
                                        <a ng-show="!item.IsContains" class="btn btn-sm btn-success" ng-click="addNew(item, $index)">添加</a>
                                        <a ng-show="item.IsContains" class="btn btn-sm btn-danger" ng-click="delNew(item, $index)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-large btn-info col-sm-offset-5" data-ng-click="saveAll()">
                            保存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>