.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
  position: relative;

  .ant-upload-list{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
.form-content{
    padding: 20px 0;
}
.achievementList{
  margin-bottom: 10px;
}
.ant-form-item > .ant-form-item, .ant-form-item :not(.ant-form) > .ant-form-item{
  margin-bottom: 24px;
}

.mien-title{
  margin-bottom: 10px;
  span{
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
  }
  a{
    margin-left: 20px;
  }    
}
.teacher-card{
  margin: 0 30% 10px 5%;
}
.park-label{
  text-align: right;
  color: #49a9ee;
  padding-right: 35px;
  font-size: 16px;
}
.park-content{
  padding: 10px;
  border: 1px #ccc dashed;
  line-height: 30px;
  font-size: 14px;
  img{
    max-height: 300px;
  }
}
.park-info{
  margin-bottom: 10px;
}