<div ng-controller="LiveRecordListController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">{{model.Title}}的直播记录
            <button type="submit" id="btnReturn" class="pull-right btn btn-default" ng-click="btnReturn()" >
                返回
            </button>
        </h1>
    </div>

    <div class="wrapper-md">
        <div class="panel panel-default" style="position: relative;">
            <div class="panel-body">
                <form class="query-group-form form-inline" role="form" name="form" style="margin-bottom: 0">
                    <!--search-->

                    <div class="form-group" style="width: 100%;">
                        <div class="input-group searchLivePre" style="width: 20%;float: right;">
                            <input type="text" class="input-sm form-control" ng-model="model.keyword" placeholder="请输入直播名称">
                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-default" type="button" style="width: 100%" ng-click="btnSearch()">Go!</button>
                                            </span>
                        </div>
                        <label>机构类型：</label>
                        <ui-select ng-model="model.gTypeID"
                                   theme="bootstrap">
                            <ui-select-match placeholder="请选择状态">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item.id as item in model.orgLists| filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <!--状态选择-->
                        <label  style="margin-bottom: 15px;">&nbsp;状态：</label>
                            <ui-select ng-model="model.s_state"
                                       theme="bootstrap">
                                <ui-select-match placeholder="请选择状态">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices
                                        repeat="item.id as item in model.Status| filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                       <br>
                        <!--日期选择-->
                        <div class="datePicker" style="width: 510px;float:left;margin-top: 10px;">
                            <span>直播时间：</span>
                            <div class="input-group" style="width: 150px;">
                                <input type="text" class="form-control dateSlc" datepicker-popup="{{format}}" ng-model="model.pubStartDate"
                                       is-open="openedStart" max-date="" ng-required="true" clear-text="清除" datepicker-options="dateOptions"
                                       current-text="今天" close-text="关闭" readonly />
                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openStartDate($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                            </div>
                            ~
                            <div class="input-group" style="width: 150px;">
                                <input type="text" class="form-control dateSlc" datepicker-popup="{{format}}" ng-model="model.pubEndDate" datepicker-options="dateOptions"
                                       is-open="endOpened" min-date="" ng-required="true" clear-text="清除" current-text="今天"
                                       close-text="关闭" readonly />
                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openEndDate($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                            </div>
                        </div>

                        <!--<button class="btn m-b-xs  btn-info" data-ng-click="btnSearch()">查询</button>-->
                        <!--排序按钮-->
                        <div style="float: right;padding-top:10px;">
                            <button class="btn btn-default btn-sm" id="isPraiseCnt" ng-click="pre_sort(1)">按点赞量<span ng-show="model.isPraiseCnt">升序</span><span ng-show="!model.isPraiseCnt">降序</span></button>
                            <button class="btn btn-default btn-sm" id="isCmtCnt" ng-click="pre_sort(2)">按评论量<span ng-show="model.isCmtCnt">升序</span><span ng-show="!model.isCmtCnt">降序</span></button>
                            <button class="btn btn-default btn-sm" id="isShareCnt" ng-click="pre_sort(3)">按分享量<span ng-show="model.isShareCnt">升序</span><span ng-show="!model.isShareCnt">降序</span></button>
                            <button class="btn btn-default btn-sm" id="isFavCnt" ng-click="pre_sort(4)">按收藏量<span ng-show="model.isFavCnt">升序</span><span ng-show="!model.isFavCnt">降序</span></button>
                            <style>
                                .sortActive{color: #f60 !important;box-shadow: 1px 1px 1px 1px #ccc;}
                            </style>
                        </div>

                    </div>
                </form>
            </div>
            <table class="table table-bordered table-hover table-condensed bg-white-only">
                <thead>
                <tr>
                    <th style="width: 55px;"><label class="i-checks"><input type="checkbox" ng-model="checkedAll"
                                                                            ng-click="checkAll()"><i></i></label></th>
                    <th>直播名称</th>
                    <th>节数</th>
                    <th>发布机构</th>
                    <th>机构类型</th>
                    <th>发布员</th>
                    <th>可见范围</th>
                    <th>直播时间</th>
                    <th>观看人次</th>
                    <th>收视率(%)</th>

                    <th>报名</th>
                    <th>评论量</th>
                    <th>分享量</th>
                    <th>收藏量</th>
                    <th>点赞</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody  >
                <tr>
                    <td colspan="17" class="prompt text-center" data-ng-show="model.itemList.length==0">
                    <div class="alert alert-warning" role="alert">抱歉，暂时未有数据...
                    </div>
                </td>
                </tr>
                <tr st-select-row="row"  ng-repeat="item in model.itemList">
                    <td><label class="i-checks"><input type="checkbox" ng-model="item.checked"
                                                       ng-click="checkedSingle(item.checked, item.LiveID)"><i></i></label>
                    <td class="v-middle">
                        <span ng-bind="item.LiveName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.SecCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.GrpName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.GTypeName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.PubMbrName"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.Range"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.LiveDate"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.PlayUserCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.PlayRate"></span>
                        %
                    </td>

                    <td class="v-middle">
                        <span ng-bind="item.SignUpCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.CmtCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.ShareCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.FavCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.PraiseCnt"></span>
                    </td>
                    <td class="v-middle">
                        <span ng-bind="item.StatusName"></span>
                    </td>
                    <td>
                        <a href="javascript:;" ng-show="item.Status==0" class="btn btn-xs btn-info" title="禁播" ng-click=" Forbid(true,item)">禁播</a>
                        <a href="javascript:;" ng-show="item.Status==-1" class="btn btn-xs btn-danger" title="解禁" ng-click="Forbid(false,item)">解禁</a>
                    </td>
                </tr>
                </tbody >
            </table>
            <div style=" position: absolute; bottom: 20px;left:15px;"  data-ng-show="model.itemList.length>0">
                <label class="i-checks"><input type="checkbox" ng-model="checkedAll"
                                               ng-click="checkAll()"><i></i></label>
                <a href="" style="margin-left: 10px;color: #00a0e9;"ng-click="ForbidAll(true)">批量禁播</a>
                <a href="" style="margin-left: 10px;color: #00a0e9;"ng-click="ForbidAll(false)">批量解禁</a>
            </div>
            <page-Directive options="pageIndex"></page-Directive>
        </div>
    </div>
</div>




<script type="text/ng-template" id="pushMsgDetail.html">
    <div class="modal-header">
        <h3 class="modal-title" style="font-weight: 100">{{msgTitle}}</h3>
    </div>
    <div class="modal-body" style="text-align: center">{{msgDetail}}</div>
    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-info m-r-lg" ng-click="cancel()">取消</button>
        <button class="btn btn-info  btn-danger m-l-lg" ng-click="cancelDelet()">确认</button>
    </div>
</script>