<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">心理知识维护</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading"></div>
            <form class="query-group form-inline clearfix">
                <div class="form-group">
                    <label>标题：</label>
                    <input type="text" class="form-control" ng-model="queryFields.title" placeholder="请输入查询关键字">
                </div>
                <div class="form-group">
                    <label>学段：</label>

                    <div class="input-group">
                        <ui-select ng-model="queryFields.period" theme="bootstrap" reset-search-input="false">
                            <ui-select-match placeholder="请选择查询学段">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="xd.value as xd in periodConfig | propsFilter:{ name:$select.search }">
                                <span ng-bind-html="xd.name| highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                      <span class="input-group-btn">
                          <button type="button" ng-click="queryFields.period = undefined"
                                  ng-disabled="!queryFields.period"
                                  class="btn btn-default">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                      </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>显示日期：</label>

                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="sDate" datepicker-options="dateOptions"
                               is-open="startOpened" max-date="eDate" ng-required="true" clear-text="清除"
                               current-text="今天" close-text="关闭" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    ~
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="eDate" datepicker-options="dateOptions"
                               is-open="endOpened" min-date="sDate" ng-required="true" clear-text="清除" current-text="今天"
                               close-text="关闭" readonly>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox m-l m-r-xs">
                        <label class="radio-inline i-checks">
                            <input type="checkbox" ng-model="checkedFree" ng-checked="checked"
                                   data-ng-click="statusFree()"><i></i>免费
                        </label>
                        <label class="radio-inline i-checks">
                            <input type="checkbox" ng-model="checkedCharge" ng-checked="checked"
                                   data-ng-click="statusCharge()"><i></i>收费
                        </label>
                    </div>
                </div>
                <button type="button" class="btn w-xs btn-info" ng-click="submitQuery($event)">查询</button>
                <div class="pull-right">
                    <button type="button" class="btn btn-info" ng-click="save()"><i class="fa fa-plus"></i> 新增</button>
                    <!--<button type="button" class="btn btn-danger" ng-click="del()"><i class="fa fa-trash-o"></i> 删除</button>-->
                </div>
            </form>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>标题</th>
                    <th style="width:10%;">学段</th>
                    <th style="width:10%;">类型</th>
                    <th style="width:15%;">开始日期</th>
                    <th style="width:15%;">结束日期</th>
                    <th style="width:15%;">创建时间</th>
                    <th style="width:10%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="!dataList">
                    <td colspan="10" class="prompt text-center">
                        <div class="alert alert-warning" role="alert">抱歉，暂时未有数据...<a href="javascript:;"
                                                                                     ng-click="save()">新增心理知识维护</a>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="item in dataList">
                    <td>{{item.Title}}</td>
                    <td>{{item.EduStage | eduStageFilter}}</td>
                    <td>{{item.Type ? '收费': '免费'}}</td>
                    <td>{{item.SDate}}</td>
                    <td>{{item.EDate}}</td>
                    <td>{{item.CDate}}</td>
                    <td>
                        <a href="javascript:;" class="btn btn-xs btn-primary" ng-click="save(item.ID)" title="编辑"><i
                                class="fa fa-edit"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-danger" ng-click="del(item)" title="删除"><i
                                class="fa fa-trash-o"></i></a>
                        <a href="javascript:;" style="margin-left:5px;" title="预览效果" class="btn btn-xs btn-primary"
                           ng-click="detailedTemplate(item)">预览</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer pagination-bar" ng-hide="!pagination.totalItems">
                <span>页码: {{pagination.currentPage}} / {{pagination.numPages}}</span>
                <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                            max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage"
                            class="pagination-sm pull-right" boundary-links="true" rotate="false"
                            num-pages="pagination.numPages" previous-text="{{pagination.previousText}}"
                            next-text="{{pagination.nextText}}" first-text="{{pagination.firstText}}"
                            last-text="{{pagination.lastText}}" ng-change="pageQuery()"></pagination>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="removeConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-trash-o"></i>心理知识删除</h3>
    </div>
    <div class="modal-body ">确定要删除心理知识：<strong>{{item.Title}}</strong>？</div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="comfirm()">确认</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</script>
<script src="../bower_components/jquery/dist/jquery-ui.min.js"></script>
<script type="text/ng-template" id="detailedTemplate.html">
    <style>
        .modal-content {
            width: 725px !important;
        }

        .modal-footer {
            border-top: 0px
        }

        .panel-body-backgound {
            background: url('public/img/device-sprite1.png');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 400px 700px;
            box-shadow: 10px 10px 5px #888888;
            border-radius: 60px;
            width: 400px !important;
            margin: auto;
            height: 700px;
            overflow: hidden;
            margin-top: 10px;
        }

        #panel-body {
            height: 490px;
            overflow-x: auto;
            width: 335px !important;
            margin: auto;
            /*border: 1px solid #e5e5e5;*/
            margin-top: 105px;
            margin-left: 34px;
        }

        #panel-body img {
            width: 100%;
        }

        #qrcode img {
            margin: auto;
            margin-top: 20px;
        }
    </style>
    <div class="panel no-border">
        <div class="modal-header">
            <h2>
                扫描预览
                <button type="submit" class="btn btn-default pull-right" ng-click="cancel()">关闭</button>
            </h2>
        </div>
        <!--<div class="panel-body-backgound">-->
        <!--<div id="panel-body">-->
        <!--<div ng-bind-html="modelHtml">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div id="qrcode"></div>
    </div>
</script>