<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">学生发卡</h1>
</div>
<div class="wrapper-md" ng-controller="strCodeBindController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="query-group-form form-inline" role="form">
                <div class="form-group">
                    <label><span class="spanColor">*</span>学校：</label>

                    <div class="input-group">
                        <ui-select ng-model="model.school" theme="bootstrap"
                                   ng-change="changeSchool()">
                            <ui-select-match placeholder="请选择学校">{{$select.selected.FName}}</ui-select-match>
                            <ui-select-choices repeat="item.GID as item in model.schoolList | filter: $select.search"
                                               refresh="refreshAddresses($select.search)" refresh-delay="500">
                                <div ng-bind-html="item.FName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-click="deleteSchool()" class="btn btn-default"
                                    type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="spanColor">*</span>班级：</label>

                    <div class="input-group">
                        <ui-select ng-model="model.class" theme="bootstrap"
                                   style="min-width: 160px;">
                            <ui-select-match placeholder="请选择班级">{{$select.selected.ClassName}}</ui-select-match>
                            <ui-select-choices group-by="'GradeName'"
                                               repeat="class in model.classList | propsFilter: {ClassName: $select.search}">
                                <small>
                                    {{class.ClassName}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button ng-click="deleteClass()" class="btn btn-default"
                                    type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">姓名</label>
                    <input type="text" class="form-control" placeholder="姓名" ng-model="model.name">
                </div>

                <div class="form-group">
                    <div class="checkbox m-l m-r-xs">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="model.checked"><i></i>未发卡
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm" data-ng-click="search()">查询</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm" data-ng-click="exportExcel()">导出数据</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-sm" data-ng-click="downLoadStuCardTemplate()">下载学生卡号导入模板</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-sm" data-ng-click="downLoadStuInfoTemplate()">下载家庭住址导入模板</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning btn-addon btn-sm" ngf-select ng-model="file" name="file"
                            ng-change="fileUpload(file)" ngf-pattern="'.xls,.xlsx'"
                            ngf-accept="'.xls,.xlsx'"><i class="fa fa-plus"></i>导入学生卡号关系
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning btn-addon btn-sm" ngf-select ng-model="file" name="file"
                            ng-change="fileUploadAddress(file)" ngf-pattern="'.xls,.xlsx'"
                            ngf-accept="'.xls,.xlsx'"><i class="fa fa-plus"></i>导入学生家庭住址
                    </button>
                </div>
            </form>
            <p style="color: #ff4335;font-size: 16px;">{{model.exportError}}</p>
        </div>
        <table class="table table-bordered table-hover table-condensed bg-white-only strCodeBind">
            <thead>
            <tr>
                <th width="180px">班级</th>
                <th width="80px">姓名</th>
                <th width="100px">走读/住读</th>
                <th>家庭住址</th>
                <th>学生照片</th>
                <th>家长照片</th>
                <th width="200px">卡号</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="row" ng-repeat="student in model.list">

                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-bind="student.ClassName"></p>
                        </div>
                    </div>
                </td>
                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-bind="student.MName"></p>
                        </div>
                    </div>
                </td>
                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-bind="student.StuType"></p>
                        </div>
                    </div>
                </td>
                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-bind="student.Address"></p>
                        </div>
                    </div>
                </td>
                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-bind="student.StuPicST"></p>
                        </div>
                    </div>
                </td>
                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-bind="student.ParentPicST"></p>
                        </div>
                    </div>
                </td>
                <td data-value="1"  >
                    <div class="media">
                        <div class="media-body">
                            <p class="text-muted" ng-if="student.ST == 1">
                                <span>未登记家长电话不能绑卡</span>
                            </p>
                            <p class="text-muted" ng-if="student.ST == 0 && student.CardNoList.length == 0"  >
                                <span ng-if="student.CardNoList.length == 0">
                                    <button class="btn btn-info" ng-click="goToBindCard(student.UMID)">绑卡</button>
                                </span>
                            </p>
                            <span class="text-muted" ng-if="student.ST == 0 && student.CardNoList.length !== 0" ng-repeat="x in student.CardNoList" >
                                <a ng-bind="x" ng-click="goToBindCard(student.UMID)">
                                </a>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    .strCodeBind a{
        color:dodgerblue;
        text-decoration: underline;
    }
</style>