<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">用户订单</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-heading"></div>
      <form class="query-group form-inline clearfix">
        <div class="form-group">
          <label>手机号码：</label>
          <input type="text" class="form-control" ng-model="vm.queryFields.tel" placeholder="请输入查询手机号码">
        </div>

        <div class="form-group">
          <label>服务名称：</label>

          <div class="input-group">
            <ui-select ng-model="vm.queryFields.serviceID" theme="bootstrap">
              <ui-select-match placeholder="选择查询名称">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices
                  repeat="service.id as service in vm.service | propsFilter: { name:$select.search }">
                <span ng-bind-html="service.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
            <span class="input-group-btn">
                              <button type="button" ng-click="vm.queryFields.serviceID = undefined"
                                      ng-disabled="!vm.queryFields.serviceID" class="btn btn-default">
                                  <span class="glyphicon glyphicon-trash"></span>
                              </button>
                          </span>
          </div>
        </div>
        <div class="form-group">
          <label><b class="text-danger">*</b>下单时间：</label>

          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{vm.datePicker.format}}"
                   ng-model="vm.queryFields.sDate" datepicker-options="dateOptions"
                   is-open="vm.datePicker.startOpened" max-date="vm.queryFields.eDate" ng-required="true"
                   clear-text="清除"
                   current-text="今天" close-text="关闭" readonly>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.datePicker.openStartDate($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                  </span>
          </div>
          ~
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{vm.datePicker.format}}"
                   ng-model="vm.queryFields.eDate" datepicker-options="dateOptions"
                   is-open="vm.datePicker.endOpened" min-date="sDate" ng-required="true" clear-text="清除"
                   current-text="今天"
                   close-text="关闭" readonly>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.datePicker.openEndDate($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                  </span>
          </div>
        </div>
        <div class="form-group">
          <label style="vertical-align: middle; margin-bottom: 0">状态：</label>

          <div class="checkbox m-r-xs">
            <label class="radio-inline i-checks">
              <input type="checkbox" ng-model="vm.checkedStA" ng-checked="checked"
                     data-ng-click="vm.checkedA()"><i></i>已付款
            </label>
            <label class="radio-inline i-checks">
              <input type="checkbox" ng-model="vm.checkedStB" ng-checked="checked"
                     data-ng-click="vm.checkedB()"><i></i>未付款
            </label>
          </div>
        </div>

        <button type="button" class="btn btn-info" ng-click="vm.search($event)"><i class="fa fa-search"></i> 查询
        </button>
      </form>
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>手机号码</th>
          <th>服务名称</th>
          <th>问卷名称</th>
          <th>下单时间</th>
          <th>金额</th>
          <th>支付状态</th>
          <th>支付时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!vm.dataList">
          <td colspan="8" class="prompt text-center">
            <div class="alert alert-warning" role="alert">请输入条件查询，数据实时更新</div>
          </td>
        </tr>
        <tr ng-repeat="item in vm.dataList">
          <td>{{item.Tel}}</td>
          <td>{{item.ServiceName}}</td>
          <td>{{item.ScaleName}}</td>
          <td>{{item.CDate}}</td>
          <td>{{item.Money}}</td>
          <td>{{item.IsPay?'是':'否'}}</td>
          <td>{{item.PayDate}}</td>
          <td>

            <a ng-if="item.IsPay && (item.Category === 2 ||item.Category ===3)" href="javascript:;" class="btn btn-info btn-xs" ng-click="vm.result(item.ID)" title="查看结果">查看结果</a>
            <a ng-if="item.IsPay && (item.Category === 1 ||item.Category ===3)" href="javascript:;" class="btn btn-primary btn-xs" ng-click="vm.userQuestion(item.ID)"
               title="查看用户提问">查看用户提问</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer pagination-bar" ng-hide="!vm.pagination.TotalRecords">
        <span>页码: {{vm.pagination.PageIndex}} / {{vm.pagination.Pages}}</span>
        <pagination total-items="vm.pagination.TotalRecords" ng-model="vm.pagination.PageIndex"
                    max-size="vm.pagination.MaxSize" items-per-page="vm.pagination.PageSize"
                    class="pagination-sm pull-right" boundary-links="true" rotate="false"
                    num-pages="vm.pagination.Pages" previous-text="上页"
                    next-text="下页" first-text="首页"
                    last-text="末页" ng-change="vm.search()"></pagination>
      </div>
    </div>
  </div>
</div>
