body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
  padding: 0 20px!important;
  margin-bottom: 0;
  .logo{
    font-size: 20px;
    color: #fff;
    > i{
      margin-right: 8px;
    }
  }
}

//清浮动
.clearfix:after{
  content:"200B";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}


//溢出隐藏
.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
